#root {
  margin: 0 auto;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.container {
  height: calc(100dvh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}